{% extends "base/base.html" %}

{% block content %}
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

               

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Planta</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <a href="{% url 'core:categoria_create' %}"> Crear Planta</a>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <th>NUMERO</th>
                                        <th>DESCRIPCION</th>
                                    </thead>
                                    <tbody>
                                        {% for gg in categoria %}
                                            <tr>
                                                <td>{{ gg.numero }}</td>
                                                <td>{{ gg.descripcion }}</td>
                                                <td><a href="{% url 'core:categoria_detail' gg.numero %}" class="btn btn-outline-info"> Detail </a></td>
                                                <td><a href="{% url 'core:categoria_update' gg.numero %}" class="btn btn-outline-warning"> Update</a></td>
                                                <td><a href="{% url 'core:categoria_delete' gg.numero %}" class="btn btn-outline-danger">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock content %}