{% extends "base/base.html" %}

{% block content %}
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tipos</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <a href="{% url 'core:tipo_create' %}"> Crear Tipo</a>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <th>NUMERO</th>
                                        <th>NOMBRE</th>
                                    </thead>
                                    <tbody>
                                        {% for gg in tipo %}
                                            <tr>
                                                <td>{{ gg.numero }}</td>
                                                <td>{{ gg.nombre }}</td>
                                                <a href="{% url 'core:tipo_detail' pk=gg.pk %}" class="btn btn-outline-info"> Detail </a>
                                                <a href="{% url 'core:tipo_update' pk=gg.pk %}" class="btn btn-outline-warning"> Update</a>
                                                <a href="{% url 'core:tipo_delete' pk=gg.pk %}" class="btn btn-outline-danger">Delete</a>                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock content %}