{% extends "base/base.html" %}

{% block content %}
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Proveedor</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <a href="{% url 'core:proveedor_create' %}"> Crear Proveedor</a>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <th>NUMERO</th>
                                        <th>CALLE</th>
                                        <th>NUMERO INTERIOR</th>
                                        <th>COLONIA</th>
                                        <th>CODIGO POSTAL</th>
                                        <th>NOMBRE</th>
                                        <th>CONTACTO</th>
                                        <th>APELLIDO MATERNO</th>
                                        <th>APELLIDO PATERNO</th>
                                        <th>TELEFONO</th>
                                    </thead>
                                    <tbody>
                                        {% for gg in proveedor %}
                                            <tr>
                                                <td>{{ gg.numero }}</td>
                                                <td>{{ gg.dir_calle }}</td>
                                                <td>{{ gg.dir_numero }}</td>
                                                <td>{{ gg.dir_colonia }}</td>
                                                <td>{{ gg.dir_cp }}</td>
                                                <td>{{ gg.nombre }}</td>
                                                <td>{{ gg.cantacto_nombre }}</td>
                                                <td>{{ gg.contacto_apellido_paterno }}</td>
                                                <td>{{ gg.contacto_apellido_materno }}</td>
                                                <td>{{ gg.caontacto_numero_telefono }}</td>
                                                <td><a href="{% url 'core:proveedor_detail' gg.numero %}" class="btn btn-outline-info"> Detail </a></td>
                                                <td><a href="{% url 'core:proveedor_update' gg.numero %}" class="btn btn-outline-warning"> Update</a></td>
                                                <td><a href="{% url 'core:proveedor_delete' gg.numero %}" class="btn btn-outline-danger">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock content %}